.bg-warning {
    background-color: #f0ad4e!important;
}
.bg-success {
    background-color: #1aa7bd!important;
}
.bg-secondary {
    background-color: #b1b6bb!important;
}
.bg-danger {
    background-color: #c72020!important;
}